/*            TYPOGRAFI & SKRIFTTYPE         */

@font-face {
  font-family: kugile;
  src: url(../fonts/kugile/Kugile_Demo.ttf);
}

@font-face {
  font-family: brillant;
  src: url(../fonts/brillant/brillant.otf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/inter/Inter-Italic.otf);
}

@font-face {
  font-family: Alumni Sans Pinstripe, stroke;
  src: url(../fonts/Alumni_Sans_Pinstripe\BBH_Sans_Bartle\Radio_Canada_Big\Ramabhadra/);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat/Montserrat-Italic.otf);
}

@font-face {
  font-family: barcode;
  src: url(../fonts/code-2-of-5-interleaved/code25I.ttf);
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-family: brillant;
  text-align: center;

  color: rgba(0, 0, 0, 8);
}

h2 {
  font-family: kugile;
  text-align: center;
  color: rgba(0, 0, 0, 8);
}
h3 {
  font-family: Montserrat;
  text-align: center;
  color: rgba(0, 0, 0, 8);
}
p {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: rgba(0, 0, 0, 8);
}
