body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: "Merriweather", serif;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
}

.logo {
  margin: 0 0 0 8em;
}

nav {
  transparent: 1em;
}

header {
  background-color: #ffffff;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

header li {
  margin: 0;
}

a {
  color: rgb(7, 9, 9);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .burger span {
    width: 25px;
    height: 3px;
    background: white;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 2rem;
    transform: translateY(-200%);
    transition: transform 0.3s ease;
    border: #0d0b0b 1px solid;
  }

  .menu.active {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  header ul {
    flex-direction: row;
    justify-content: center;
  }
  /* 
  .headercontainer {
    height: 90vh;
    background-image: url(../img/img_justy/header_image.png);
    background-position: center;
    background-size: cover;
   
    overflow: hidden;
    padding: 2em 0;
  } */
}
