@media (width >= 672px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/*            foto         */
.open {
  display: block;
  margin: auto;
  max-width: fit-content;
  /* max-width: 100%;
  height: auto; */
  width: 500px;
  height: 500px;
  /* padding: 0;
  margin: 0; */
}

/*              LAYOUT FOR SHOPFOTOS */
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  aspect-ratio: 1 / 1;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*          Styling af WoW */
.image-focus {
  overflow: hidden;
  margin: 6rem 0;
}

.image-focus img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 1.2s ease;
}

.image-focus:hover img {
  transform: scale(1);
}

/* Styling af SecWoW */
.overlap {
  position: relative;
  height: 70vh;
  background-image: url("../img/img_justy/boxvid.gif");

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlap img {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}
