#cart-icon {
  position: relative;
  display: flex;
  font-size: 30px;
  cursor: pointer;
}
#cart-icon .cart-item-count {
  position: absolute;
  top: 0;
  right: -6px;
  width: 20px;
  height: 20px;
  background: rgb(232, 116, 219);
  border-radius: 50%;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.product_box .price_and_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_and_cart .price {
  font-size: 18px;
}
.price_and_cart .add-cart {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 100%;
  background: #fcf9f1;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
}

.cart-title {
  text-align: center;
  font-size: 30px;
}

.cart-box {
  display: flex;
  align-items: center;
  margin: 20px;
}
.cart-box img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
}
.cart-detail {
  display: grid;
  gap: 8px;
  margin-right: auto;
}
.cart-product-title {
  font-size: 16px;
  line-height: 1;
  font-family: "Courier Prime", monospace;
  text-align: left;
  padding: 0;
  margin-left: 0;
}
.cart-price {
  font-weight: 500;
  font-family: "Courier Prime", monospace;
}

.cart-quantity {
  display: flex;
  width: 100px;
  border: 1px solid #999;
  border-radius: 15px;
}
.cart-quantity button {
  background: transparent;
  width: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-family: "Courier Prime", monospace;
}
.cart-quantity #decrement {
  color: #999;
}
.cart-quantity .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  cursor: default;
  font-family: "Courier Prime", monospace;
}

.cart-remove {
  font-size: 25px;
  cursor: pointer;
  margin: 1em;
}
.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 18px;
  font-family: "Courier Prime", monospace;
}

.total-price {
  margin-left: 10px;
  font-weight: 600;
  font-family: "Courier Prime", monospace;
}

.btn-buy {
  display: block;
  padding: 10px 30px;
  background: #fcf9f1;
  border: 0.5px solid black;
  font-size: 16px;
  color: rgb(8, 8, 8);
  border-radius: 20px;
  cursor: pointer;
  margin: 20px auto 0;
  font-family: "Courier Prime", monospace;
}

#cart-close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
}
