h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 36px;
}

h1 {
  text-align: center;
  font-size: 50px;
}
p,
.price {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
.product-text p {
  margin: 1em;
  text-align: justify;
}
.product-text h2 {
  text-align: center;
  font-size: 24px;
}
.alignment {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
}

.product-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.product-grid {
  padding: 60px 5% 30px;
}

.product-box .img-box {
  display: flex;
}
.img-box img {
  width: 100%;
}
.product-box .product-title {
  font-size: 1.1rem;
  margin-top: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 600;
  font-style: normal;
  text-align: start;
  padding-left: 0;
}

@media (min-width: 800px) {
  .product-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-grid {
    padding: 100px 9% 30px;
  }
  .product-text h2 {
    font-size: 36px;
  }
  .product-text p {
    text-align: center;
    margin: 1em;
    font-size: 20px;
  }
  .product-text h1 {
    font-size: 60px;
  }
}
