h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 36px;
}
h1 {
  text-align: center;
  font-size: 50px;
}
p,
.price {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.product_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.product_grid {
  padding: 60px 5% 30px;
}

.product_box .img_box {
  display: flex;
}
.img_box img {
  width: 100%;
}
.product_box .product-title {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 1400;
  font-style: normal;
}
.product_box .price_and_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price_and_cart .add-cart {
  font-size: 20px;
  cursor: pointer;
}
@media (min-width: 800px) {
  .product_content {
    grid-template-columns: repeat(3, 1fr);
  }
  .product_grid {
    padding: 100px 9% 30px;
  }
}
